######################################
# Build results
######################################

bin/
obj/
out/
publish/

######################################
# Visual Studio
######################################

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

######################################
# Rider
######################################

.idea/

######################################
# VS Code
######################################

.vscode/

######################################
# Logs
######################################

*.log

######################################
# EF Core / Migrations snapshot backup
######################################

*.bak

######################################
# OS files
######################################

.DS_Store
Thumbs.db

######################################
# Environment files
######################################

appsettings.Development.json
.env

######################################

######################################

node_modules/
dist/